{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
This is the Cart Page
{% endblock %}


{% block title %}
Cart - Aarushi Companies
{% endblock %}


{% block content %}

{% if not cart_items %}
    <div>
        <div class="text-center">
        <br>
            <h1 class="text-center my_title">Your Shopping Cart is Empty</h1>
        <br>
            <p class="text-center"><a href="{% url 'Dark:AllProdCat' %}">Click Here</a> To Continue Shopping</p>
        </div>
    </div>
{% else %}
    <div>
        <div class="text-center">
            <br>
                <h1 class="text-center my_title">Your Shopping Cart</h1>
            <br>
        </div>
    </div>


    <div class="row mx_auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th colspan="5">
                                Your Items
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <a href="cart_item.product.get_absolute_url">
                                    <img style="width:150px;" src="{{cart_item.product.image.url}}" alt="Product" class="float-left rounded custom-image">
                                </a>
                            </td>
                            <td class="text-left">
                                {{cart_item.product.name}}<br>
                                SKU: {{cart_item.product.id}}<br>
                                Price:Rs.{{cart_item.product.price}}<br>
                                Quantity: {{cart_item.quantity}} x Rs. {{cart_item.product.price}}
                            </td>
                            <td>
                                Rs.{{cart_item.sub_total}}
                            </td>
                            {% if cart_item.quantity < cart_item.product.stock %}
                            <td>
                                        <a href="{% url 'Cart:add_cart' cart_item.product.id %}" class="custom_a"><i class="fa fa-plus custom_icon"></i></a><br>
                                        &nbsp;<a href="{% url 'Cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a><br>
                                        &nbsp;<a href="{% url 'Cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>

                            </td>
                            {% else %}
                            <td>
                                        &nbsp;<a href="{% url 'Cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                                        &nbsp;<a href="{% url 'Cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa fa-trash custom_icon"></i></a>
                            </td>
                        </tr>
                            {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>


    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
                <tr>
                    <th>
                        Checkout
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Please review your cart items before payment.
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        Your total is :<strong> Rs.{{total}}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        <div class="mx_auto">
            <a href="{% url 'Dark:AllProdCat' %}" class="btn btn-secondary my_custom_button">Continue Shopping</a>
            <a href="{% url 'Dark:AllProdCat' %}" class="btn btn-secondary my_custom_button">Make Payment</a>
        </div>
    </div>
          </div>
{% endif %}
{% endblock %}
