{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{ product.description|truncatewords:200 }}
{% endblock %}


{% block title %}
  {% if category %}
    {{ product.name }} - Aarushi Companies
  {% endif %}
{% endblock %}


{% block content %}
    <div>
        <div>
            <p>
                <a href="{% url 'Dark:AllProdCat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.category}}</a>{{product.name}}
            </p>
        </div>
    </div>
<div class="container my_product">
<br>
    <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <div  style="min-width:18rem;">
                    <img style="width:500px;height:400px;" src="{{product.image.url}}" alt="{{product.name}}">
                </div>
            </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div>
            <h1>{{product.name}}</h1>
            <p>Rs.{{product.price}}</p>
            <p>Product Description</p>
            <p>{{product.description}}</p>
        {% if product.stock <= 0 %}
            <p><b>Out of Stock</b></p>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'Cart:add_cart' product.id %}">Add to Cart</a>
        {% endif %}
                </div>
        </div>
    </div>
    </div>
{% endblock %}